:root {
  /* Colors: */
  --unnamed-color-d2d2d2: #d2d2d2;
  --unnamed-color-222222: #222222;
  --unnamed-color-4f79dc: #4f79dc;
  --unnamed-color-ececec: #ececec;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-b9d6e3: #b9d6e3;
  --unnamed-color-707070: #707070;

  /* Font/text values */
  --unnamed-font-family-lato: Lato;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-34: 34px;
  --unnamed-font-size-41: 41px;
  --unnamed-font-size-60: 60px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-29: 29px;
  --unnamed-line-spacing-41: 41px;
  --unnamed-line-spacing-72: 72px;
}

body {
  /* UI Properties */
  background: transparent url("../../public/background.png");
  background-size: cover;
  opacity: 1;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Character Styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 580px;
  background: #1d1d1d;
  box-shadow: 0px 3px 14px #0202026c;
  border-radius: 4px;
  opacity: 1;
}

.heading {
  height: 50px;
  background: #1d1d1d 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 20px;
  padding: 7px;
  background: #0048f2 0% 0% no-repeat padding-box;
  border-radius: 20px;
  margin-left: 10px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 17px var(--unnamed-font-family-lato);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  opacity: 1;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  height: 280;
  padding: 5px;
}
